.container {
  width: 100%;
  height: 100vh;
  font-family: "Baloo Bhaijaan 2", cursive;
  background: url("/assets/img/bg-curvy-desktop.png") bottom no-repeat;
  background-size: 100% 500px;
  background-color: #106e69;
  -webkit-animation: color 10s ease infinite;
          animation: color 10s ease infinite;
}

.container .game-over {
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #000000a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.container .game-over-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px 1px #322f2f;
          box-shadow: 0px 0px 15px 1px #322f2f;
}

.container .game-over-box i {
  font-size: 3em;
  color: #a32222;
  margin-bottom: 5px;
}

.container .game-over-box .title {
  font-size: 2em;
  color: #a32222;
  margin-bottom: 20px;
}

.container .game-over-box .final-score {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #a32222;
}

.container .game-over-box .restart {
  font-size: 1.5em;
  margin-bottom: 10px;
  border: 1px solid #a32222;
  color: #a32222;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.container .game-over-box .restart:hover {
  background: #a32222;
  color: white;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.container .game-over-box .links {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  border: 1px solid #a32222;
  padding: 10px 15px;
  border-radius: 10px;
  background: #a32222;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.container .game-over-box .links:hover {
  background: white;
  color: #a32222;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.container .game-over-box .links:hover i {
  color: #a32222;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.container .game-over-box .links i {
  font-size: 1em;
  color: white;
  margin-bottom: 0px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em 2em;
}

.container__header-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.container__header-score i {
  font-size: 1.2em;
  color: white;
  margin-right: 5px;
}

.container__header-score p {
  font-size: 1.5em;
  color: white;
  margin-right: 10px;
}

.container__header-score--change-score {
  margin-right: 0px;
}

.container__header-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__header-time i {
  font-size: 1.2em;
  color: white;
  margin-right: 5px;
}

.container__header-time p {
  font-size: 1.5em;
  color: white;
  margin-right: 10px;
}

.container__header-time--change-time {
  margin-right: 0px;
}

.container .questions {
  margin: 0 auto;
  width: 45%;
  margin-top: 15em;
  border-radius: 10px;
}

.container .questions .statement {
  font-size: 2em;
  background: #002422;
  color: white;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container .questions .answers-confirm {
  font-size: 2em;
  background: #9bfffa;
  color: #0d4666;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.container .questions .answers-confirm:hover {
  background-color: #75c9c5;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.container .questions .answers-confirm:nth-child(5) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    height: 100vh;
    font-family: "Baloo Bhaijaan 2", cursive;
    background: url("/assets/img/bg-curvy-desktop.png") bottom no-repeat;
    background-size: 400% 500px;
    background-color: #106e69;
    -webkit-animation: color 10s ease infinite;
            animation: color 10s ease infinite;
  }
  .container .game-over {
    visibility: hidden;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #000000a8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  .container .game-over-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px 1px #322f2f;
            box-shadow: 0px 0px 15px 1px #322f2f;
  }
  .container .game-over-box i {
    font-size: 3em;
    color: #a32222;
    margin-bottom: 5px;
  }
  .container .game-over-box .title {
    font-size: 2em;
    color: #a32222;
    margin-bottom: 20px;
  }
  .container .game-over-box .final-score {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #a32222;
  }
  .container .game-over-box .restart {
    font-size: 1.5em;
    margin-bottom: 10px;
    border: 1px solid #a32222;
    color: #a32222;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  .container .game-over-box .restart:hover {
    background: #a32222;
    color: white;
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  .container .game-over-box .links {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    border: 1px solid #a32222;
    padding: 10px 15px;
    border-radius: 10px;
    background: #a32222;
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  .container .game-over-box .links:hover {
    background: white;
    color: #a32222;
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  .container .game-over-box .links:hover i {
    color: #a32222;
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  .container .game-over-box .links i {
    font-size: 1em;
    color: white;
    margin-bottom: 0px;
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  .container__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 1em 2em;
  }
  .container__header-score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
  }
  .container__header-score i {
    font-size: 1.2em;
    color: white;
    margin-right: 5px;
  }
  .container__header-score p {
    font-size: 1.5em;
    color: white;
    margin-right: 10px;
  }
  .container__header-score--change-score {
    margin-right: 0px;
  }
  .container__header-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container__header-time i {
    font-size: 1.2em;
    color: white;
    margin-right: 5px;
  }
  .container__header-time p {
    font-size: 1.5em;
    color: white;
    margin-right: 10px;
  }
  .container__header-time--change-time {
    margin-right: 0px;
  }
  .container .questions {
    margin: 0 auto;
    width: 45%;
    margin-top: 15em;
    border-radius: 10px;
  }
  .container .questions .statement {
    font-size: 2em;
    background: #002422;
    color: white;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .container .questions .answers-confirm {
    font-size: 2em;
    background: #9bfffa;
    color: #0d4666;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .container .questions .answers-confirm:hover {
    background-color: #75c9c5;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .container .questions .answers-confirm:nth-child(5) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*# sourceMappingURL=bundle.css.map */