.header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  &__score {
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
    }

    &-points {
    }
  }
}
